---
# Installing the Software
- name: installing | installing the required software
  dnf:
    name: ['libguestfs-tools', 'libvirt', 'qemu-kvm', 'virt-manager', 'virt-install', 'virt-viewer', 'libguestfs-xfs']
    state: present
#  notify: enable_service
