---
# Create the KVM Directories
- name: Create Direcotries
  ansible.builtin.file:
    path: /srv/kvm/bin/.stay, /srv/kvm/datastore/iso/.stay, /srv/kvm/datastore/vm/.stay
    state: touch
    mode: u=rw,g=r,o=r
# Copy the Template's
- name: deploy CentOS Template
  template:
    src: templates/template_cos.xml.j2
    dest: /srv/kvm/datastore/template/template_cos.xml
