---
# Create the KVM Directories
- name: Create Direcotries
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  with_items:
    - '/srv/kvm/bin'
    - '/srv/kvm/datastore/iso'
    - '/srv/kvm/datastore/vm'
# Copy the Template's
- name: Deploy KVM .xml Templates
  template:
    src: templates/template_cos.xml.j2
    dest: /srv/kvm/datastore/template/template_cos.xml
- name: Copy .qcow2 from Webserver
  get_url:
    url: http://tcan.ch/repo/template_cos.qcow2
    dest: /srv/kvm/datastore/template/template_cos.qcow2
    mode: '0755'
