<network connections='1'>
  <name>wan01</name>
  <forward dev='enp0s31f6' mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
    <interface dev='enp0s31f6'/>
  </forward>
  <bridge name='wan01' stp='on' delay='0'/>
  <domain name='wan01'/>
  <ip address='10.255.255.1' netmask='255.255.255.248'>
  </ip>
</network>
